@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

#root {
  @apply flex flex-col h-full relative;
}

.Container {
  @apply container mx-auto px-6 sm:px-0;
}

h1 {
  @apply text-20 sm:text-50;
}

h2 {
  @apply text-20 sm:text-50 font-bold;
}

a, span, strong, p {
  @apply text-12 sm:text-16;
}

a {
  @apply relative block px-3 py-1;
  border-radius: 100%;
}

a::before {
  @apply content-[''] absolute top-0 left-0 w-full h-full bg-secondary blur scale-0 transition-transform;
  z-index: -1;
  border-radius: 100%;
}

a:hover::before {
  @apply scale-100;
}

.StyledList > li{
  @apply flex justify-center items-center;
}

.StyledList > li:not(:last-child)::after {
  @apply content-[''] block h-1 sm:h-[0.5px] w-1 sm:w-10 bg-black rounded-full;
}

.CTA__circle {
  @apply transition-all border-t-2 border-l-2 border-b-[0.5px] border-r;
}

.CTA__circle:hover {
  @apply rotate-90;
  /*border-t-2 border-b-2 border-l-[0.5px] border-r*/
}

.BigText__container {
  @apply fixed left-1/2 -translate-x-1/2 -bottom-[3vh] sm:-bottom-[10vh] leading-none pointer-events-none -z-10;
}

.BigText__text {
  /*  FIXME : find solution to be transparent */
  color: white;
  font-weight: bold;
  font-size: 28vw;
  /*
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.40);
  */
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.40), 1px -1px 0 rgba(0, 0, 0, 0.40), -1px 1px 0 rgba(0, 0, 0, 0.40), 1px 1px 0 rgba(0, 0, 0, 0.40);
}